@page "/log-time-page";

@inject NavigationManager navManager;
@inject HttpClient httpClient;

@inherits BaseLoggedInPage;

@{base.BuildRenderTree(__builder);}

<div>
	<h1>@UserDetails.UserName</h1>
	<div class="d-grid bttm-margin">
		<div class="d-flex flex-column filter-container">
			<label>Order By</label>

			<InputSelect class="form-select" @bind-Value="@OrderBy" @bind-Value:after="FilterTimeLogs">
				<option value="des">Newest</option>
				<option value="asc">Oldest</option>
				<option value="len">Length</option>
			</InputSelect>
		</div>
		<div class="d-flex flex-column filter-task-container">
			<label>Filter by Task</label>
			<InputSelect class="form-select" @bind-Value="FilterBy" @bind-Value:after="FilterTimeLogs">
				<option value="none">None</option>
				@foreach (TimeLog timeLog in TimeLogs.DistinctBy(t => t.TaskCode).ToList())
				{
					<option value="@timeLog.TaskCode">@timeLog.TaskName</option>
				}
			</InputSelect>
		</div>
		<div class="create-log-container">
			<button type="button" @onclick="CreateModal">Create Time Log</button>
		</div>
	</div>
	<div class="bttm-margin">
		<table class="w-100">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Start</th>
				<th>Length</th>
				<th>End</th>
				<th>Task</th>
				<th>Edit</th>
			</tr>
			@foreach (TimeLog timeLog in CurrentTimeLogs)
			{
				<tr>
					<td>@timeLog.Name</td>
					<td>@(timeLog.Description.Length > 40? timeLog.Description.Substring(0, 40) + "...": timeLog.Description)</td>
					<td>@timeLog.Start.ToShortDateString() @timeLog.Start.ToShortTimeString()</td>
					@{TimeSpan difference = timeLog.End - timeLog.Start;}
					<td>@(difference.Hours) Hours @(difference.Minutes) Mins</td>
					<td>@timeLog.End.ToShortTimeString()</td>
					<td><a href="/task-page/@timeLog.TaskCode">@timeLog.TaskName</a></td>
					<td><button type="button" @onclick="@(() => EditModal(timeLog))">Edit</button></td>
				</tr>
			}
		</table>
	</div>
</div>

<Modal @ref="modal">
	<Title>@EditOrCreate Time Log</Title>
	<Body>
		<div class="d-flex flex-column">
			<div>
				<InputText class="form-control" placeholder="Time Log Name (Max 24 chars)" maxlength="24" @bind-Value="@NewTimeLog.Name" />
			</div>
			<div>
				<InputTextArea class="form-control" placeholder="Description" @bind-Value="@NewTimeLog.Description" />
			</div>
			<div class="d-flex flex-column">
				<label>Start -</label>
				<InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="@NewTimeLog.Start"></InputDate>
			</div>
			<div class="d-flex flex-column">
				<label>End -</label>
				<InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="@NewTimeLog.End"></InputDate>
			</div>
			<div class="d-flex flex-column">
				<label>Task Id</label>
				<InputNumber class="form-control" @bind-Value="@NewTimeLog.TaskCode"></InputNumber>
			</div>
			<div>
				<label>@errorMessage</label>
			</div>
		</div>
	</Body>
	<Footer>
		<div>
			<button type="button" class="btn btn-success" @onclick="SaveTimeLog">@EditOrCreate</button>
			<button type="button" class="btn btn-danger" data-dismiss="modal" @onclick="() => modal.Close()">Cancel</button>
		</div>
	</Footer>
</Modal>

@code
{
	private User UserDetails { get; set; } = new User();
	private List<TimeLog> TimeLogs { get; set; } = new List<TimeLog>();
	private List<TimeLog> CurrentTimeLogs { get; set; } = new List<TimeLog>();

	private string OrderBy = "des";
	private string FilterBy = "none";

	protected override async void OnInitialized()
	{
		UserDetails.Id = await GetUserId();
		UserDetails.UserName = await GetUserName();

		LoadData();

		base.OnInitialized();
	}

	private async void LoadData()
	{
		//Loads User and time log data
		try
		{
			TimeLogs = await httpClient.GetFromJsonAsync<List<TimeLog>>($"/api/LogTime/GetTimeLogs?UserId={UserDetails.Id}");
			FilterTimeLogs();
		}
		catch
		{
		}
	}

	private void FilterTimeLogs()
	{
		if (FilterBy == "none")
		{
			CurrentTimeLogs = TimeLogs;
		}
		else
		{
			CurrentTimeLogs = TimeLogs.Where(t => t.TaskCode.ToString() == FilterBy).ToList();
		}

		if (OrderBy == "asc")
		{
			CurrentTimeLogs = CurrentTimeLogs.OrderBy(t => t.Start).ToList();
		}
		else if (OrderBy == "des")
		{
			CurrentTimeLogs = CurrentTimeLogs.OrderByDescending(t => t.Start).ToList();
		}
		else if (OrderBy == "len")
		{
			CurrentTimeLogs = CurrentTimeLogs.OrderByDescending(t => (t.End - t.Start)).ToList();
		}

		StateHasChanged();
	}

	private Modal modal;
	private string errorMessage;
	private string EditOrCreate;
	private TimeLog NewTimeLog = new TimeLog();

	private void CreateModal()
	{
		NewTimeLog = new TimeLog();
		NewTimeLog.Start = DateTime.Now;
		NewTimeLog.End = DateTime.Now;

		EditOrCreate = "Create";
		errorMessage = "";

		modal.Open();
	}

	private void EditModal(TimeLog TimeLog)
	{
		NewTimeLog = new TimeLog(TimeLog);
		EditOrCreate = "Edit";
		errorMessage = "";

		modal.Open();
	}

	private async void SaveTimeLog()
	{
		ApiResponse? success = null;

		//TODO - Send new time log to API
		if (EditOrCreate == "Create")
		{
			NewTimeLog.UserCode = UserDetails.Id;

			HttpResponseMessage response = await httpClient.PostAsJsonAsync<TimeLog>("/api/LogTime/CreateTimeLog", NewTimeLog);
			success = await response.Content.ReadFromJsonAsync<ApiResponse>();

		}
		else if (EditOrCreate == "Edit")
		{
			NewTimeLog.UserCode = UserDetails.Id;

			HttpResponseMessage response = await httpClient.PostAsJsonAsync<TimeLog>("/api/LogTime/UpdateTimeLog", NewTimeLog);
			success = await response.Content.ReadFromJsonAsync<ApiResponse>();
		}

		if (success is null)
		{
			errorMessage = "Something went wrong. Please try again later!";
			return;
		}
		else if (success.Success == false)
		{
			errorMessage = success.Message;
			return;
		}

		//Loads data for time logs
		modal.Close();
		LoadData();
	}
}
